/* 
 * Copytight 2016 Dmitry Ivanov
 * 
 * This file is part of libquentier
 *
 * libquentier is free software; you can redistribute it and/or modify
 * it under the terms of the GNU Lesser General Public License as published by
 * the Free Software Foundation, version 3 of the License.
 *
 * libquentier is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Lesser General Public License for more details.
 *
 * You should have received a copy of the GNU Lesser General Public License
 * along with libquentier. If not, see <http://www.gnu.org/licenses/>.
 * 
 * 
 * This file uses content from: http://ianlunn.github.io/Hover/css/hover.css
 * Version: 2.0.2
 * Author: Ian Lunn @IanLunn
 * Author URL: http://ianlunn.co.uk/
 * Github: https://github.com/IanLunn/Hover
 * 
 * Made available under a MIT License:
 * http://www.opensource.org/licenses/mit-license.php
 * 
 * Hover.css Copyright Ian Lunn 2014.
 */

.hvr-border-color {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: border-color;
  transition-property: border-color;
}

.hvr-border-color:hover, .hvr-border-color:focus, .hvr-border-color:active {
border-color: rgb(20,212,255);
}
