[Desktop Entry]
Type=Application
Exec=quentier %u
Name=Quentier
Icon=quentier
Terminal=false
GenericName=Note taking app
Comment=Note taking app integrated with Evernote
Categories=Qt;Network;Office;TextTools
Keywords=Quentier;note;Evernote
