.en-media-generic {
  display: inline-block;
  cursor: default;
  border: 2px solid;
  border-color: rgb(195,195,195);
  border-radius: 8px;
  vertical-align: bottom;
  position: relative;
  width: 230px;
  height: 28px;
  margin: 2px;
  padding: 2px;
  -webkit-font-smoothing: antialiased;
}

.resource-icon {
  width: 24px;
  height: 24px;
  border: none;
  padding: 2px;
  margin-left: 2px;
  margin-right: 2px;
  position: absolute;
  top: 2px;
  left: 0px;
}

.resource-name {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 14px;
  border: none;
  padding: 1px;
  margin-left: 4px;
  margin-right: 4px;
  position: absolute;
  top: 1px;
  left: 26px;
}

.resource-size {
  font-family: Geneva, Arial, Helvetica, sans-serif;
  font-size: 12px;
  border: none;
  padding: 1px;
  margin-left: 4px;
  margin-right: 4px;
  position: absolute;
  top: 16px;
  left: 26px;
}

.open-resource-button {
  width: 24px;
  height: 24px;
  border: none;
  padding: 1px;
  margin-left: 2px;
  margin-right: 2px;
  position: absolute;
  top: 2px;
  right: 26px;
}

.save-resource-button {
  width: 24px;
  height: 24px;
  border: none;
  padding: 1px;
  margin-left: 2px;
  margin-right: 2px;
  position: absolute;
  top: 2px;
  right: 0px;
}
