.misspell {
    content: "~~~~~~~~~~~~";
    font-size: 0.6em;
    font-weight: 700;
    font-family: Times New Roman, Serif
    color: red;
    width: 100%;
    position: absolute;
    top: 12px;
    left: -1px;
    overflow: hidden;
}
